@charset "UTF-8";
body {
  background: rgb(216, 226, 228);
}

#main {
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 20px 0;
	text-align: left;
}

#main h1 {
	font-size: 138.5%;
	font-weight: bold;
	color: #333;
	border-bottom: 3px dotted #ccc;
	margin-bottom: 15px;
}

.container {
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

.container h2 {
	font-size: 20px;
	margin: 0 0 10px;
	font-weight: bold;
}
